<% include partials/_header %>

<body style="background-image: url(img/BG.jpg); background-position: center center;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size:  cover;">
  <nav class="navbar navbar-inverse" style=" background: rgba(0,0,0,0.7);">
      <div class="container-fluid">
      <ul class="nav navbar-nav" style="float: right; padding-right: 207px;">
          <li><a href="/login" style="color: #9D3E2B;">Log In</a></li>
          <li><a href="/signup" style="color: #9D3E2B;">Sign Up</a></li>
        </ul>
      </div>
  </nav>

  

  <div class="container">
    <div class="boxheader"><img src="/img/logo1.png" style="margin-left: -1045px; margin-top: -25px; height: 70px;"></div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <ul class="nav navbar-nav" style="margin-left: -220px;">
          <li><a class="navspace" href="/home">Home</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
        <form  class="navbar-form navbar-right" action="/action_page.php">
          <div id="searchspace" class="form-group" >
            <input type="text" class="form-control" placeholder="Search" name="search">
          </div>
          <button  type="submit" class="btn btn-default" id="searchbar-space">Search</button>
        </form>
      </div>
    </nav>

    <!--MainBox-->
  <div class="mainbox">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="textheader">
            <center>
              <h3>Hello and welcome to the brand new home for PlayDota!</h3>
              <h4>Please read through our <a href="http://www.dota2.com" style="color: #9D3E2B;">Welcome Thread</a> to see what's new!</h4>
            </center>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <!--2nd Box-->
              <div class="content-box">
                <div class="content-item">
                  <div class="row">
                    <div class="col-sm-12" id="tag1"><h5>DOTA</h5></div>
                  </div>
                  <!--Start of row-->
                  <div class="row">
                    <div id="">
                      <!--Part4-->
                      <div class="col-sm-6"id="tagss1">
                        <div class="col-sm-2"><img src="/img/p1.png" style="height: 50px; padding-top: 5px;"></div>
                        
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-sm-12">

                              <blockquote class="blockquote" id="textsize">
                                <p class="h5" style="font-weight: bold;"><a href="http://www.dota2.com" style="color: white;">Announcements</a></p>Announcements made about the community and Dota.</blockquote>
                              
                            </div>
                          </div>
                        </div>
                      
                      </div>
                      <!--Part4-->
                      <div class="col-sm-1"id="tagss2">
                        <div class="row" id="textsize2">3</div>
                        <div class="row" id="textsize2">Discussions</div>
                      </div>

                      <!--Part4-->
                      <div class="col-sm-2"id="tagss3">
                        <div class="row"id="textsize2">6</div>
                        <div class="row"id="textsize2">Messages</div>
                      </div>
                    </div>
                      <!--Part4-->
                      <div class="col-sm-3"id="tagss4">
                        <div class="row" id="textsizelatest">Latest: <span style="color: #9D3E2B">Welcome to Reborn! - Stealer~</span>, Apr 3, 2018</div>
                      </div>

                  </div>
                  <!--End of Row Here-->

                  <div class="row">
                    <div id="">
                      <!--Part4-->
                      <div class="col-sm-6"id="tagss1">
                        <div class="col-sm-2"><img src="/img/p2.png" style="height: 50px; padding-top: 5px;"></div>
                        
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-sm-12">

                              <blockquote class="blockquote" id="textsize">
                                <p class="h5" style="font-weight: bold;"><a href="http://www.dota2.com" style="color: white;">Competitive</a></p>Discuss everything related to the competitive scene.</blockquote>
                              
                            </div>
                          </div>
                        </div>
                      
                      </div>
                      <!--Part4-->
                      <div class="col-sm-1"id="tagss2">
                        <div class="row" id="textsize2">3</div>
                        <div class="row" id="textsize2">Discussions</div>
                      </div>

                      <!--Part4-->
                      <div class="col-sm-2"id="tagss3">
                        <div class="row"id="textsize2">5</div>
                        <div class="row"id="textsize2">Messages</div>
                      </div>
                    </div>
                      <!--Part4-->
                      <div class="col-sm-3"id="tagss4">
                        <div class="row" id="textsizelatest">Latest: <span style="color: #9D3E2B"> Evil Geniuses - Bleed Blue - _kat_kat_</span>, Apr 3, 2018</div>
                      </div>

                  </div>
                  <!--End of Row Here-->

                  <div class="row">
                    <div id="">
                      <!--Part4-->
                      <div class="col-sm-6"id="tagss1">
                        <div class="col-sm-2"><img src="/img/p3.png" style="height: 50px; padding-top: 5px;"></div>
                        
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-sm-12">

                              <blockquote class="blockquote" id="textsize">
                                <p class="h5" style="font-weight: bold;"><a href="http://www.dota2.com" style="color: white;">Guides</a></p>Share your builds with other users.</blockquote>
                              
                            </div>
                          </div>
                        </div>
                      
                      </div>
                      <!--Part4-->
                      <div class="col-sm-1"id="tagss2">
                        <div class="row" id="textsize2">3</div>
                        <div class="row" id="textsize2">Discussions</div>
                      </div>

                      <!--Part4-->
                      <div class="col-sm-2"id="tagss3">
                        <div class="row"id="textsize2">8</div>
                        <div class="row"id="textsize2">Messages</div>
                      </div>
                    </div>
                      <!--Part4-->
                      <div class="col-sm-3"id="tagss4">
                        <div class="row" id="textsizelatest">Latest: <span style="color: #9D3E2B">Lich on the offlane - kamukag3e</span>, Apr 3, 2018</div>
                      </div>

                  </div>
                  <!--End of Row Here-->  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebox">
          <button type="button" class="btn btn-outline-danger" id="buttondesign"><a href="/signup" style="color: white;  text-decoration: none;">Sign Up Now!</a> </button>
        </div>
        <div class="sidebox2">
          <div class="col-sm-12" id="tag2"><h5>NEW POSTS</h5></div>
          <div class="col-sm-2"><img src="/img/p5.png" style="height: 50px; padding-top: 10px;"></div>
          <div class="col-sm-10">
                          <div class="row">
                            <div class="col-sm-12">

                              <div id="textsizeside" style="margin-top: -10px;">
                                <p class="h5" style="font-weight: bold;"><a href="http://www.dota2.com" style="color: white;">Phantom Lancer Build</a></p>Latest: kamukag3e, Today at 7:31 AM</div>
                              
                            </div>
                          </div>
          </div>
          <hr style="color: white;">
          <div class="col-sm-2"><img src="/img/p4.png" style="height: 50px; padding-top: 10px;"></div>
          <div class="col-sm-10">
                          <div class="row">
                            <div class="col-sm-12">

                              <div id="textsizeside">
                                <p class="h5" style="font-weight: bold;"><a href="http://www.dota2.com" style="color: white;">7.20 who will get buffed???</a></p>Latest: Skurai, Today at 6:03 AM.</div>
                              
                            </div>
                          </div>
          </div>
          <div class="col-sm-2"><img src="/img/p3.png" style="height: 50px; padding-top: 10px;"></div>
          <div class="col-sm-10">
                          <div class="row">
                            <div class="col-sm-12">

                              <div id="textsizeside">
                                <p class="h5" style="font-weight: bold;"><a href="http://www.dota2.com" style="color: white;">Your thought of the day</a></p>Latest: Lithary, Yesterday at 7:46 PM</div>
                              
                            </div>
                          </div>
          </div>
          
          <div class="col-sm-12" id="tag2" style="margin-top: 10px;"><h5>STATS</h5></div>

          <div id="textsize" style="margin-left: 25px;">
          <center><div class="col-sm-6" style="margin-top: -6px;">Discussions:</div>
          <div class="col-sm-6" style="margin-top:-6px;">9</div></center>
          
          <center><div class="col-sm-6">Messages:</div>
          <div class="col-sm-6">19</div></center>

          <center><div class="col-sm-6">Latest Member:</div>
          <div class="col-sm-6" style="margin-top: 10px;"><a href style="color: #9D3E2B;">Rhacco</a></div></center>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
    
    
    
    
  </div>
</body>
<% include partials/_footer %>
